# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.cache
.idea

# gradle
build
.gradle

# other
eclipse
/run*

forge*changelog.txt
/src/generated/resources/.cache

/logs
hs_err_pid*
replay_pid*
