# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
/run*
/logs
/secret.properties

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache

hs_err_pid*
replay_pid*

# CoreMods
*.d.ts
**/tsconfig.json
